.main-container {
  display: flex;
  background-color: #f3f4f6;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.second-container {
  display: flex;
  padding: 0.5rem;
  width: 75%;
  height: 75%;
  border-radius: 0.5rem;
  background-image: url(./asset/background-dark.png);
  background-size: 230%;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 26px 40px 0 rgba(0, 0, 0, 0.19);
}
.left-content-container {
  width: 50%;
  height: 100%;
  padding: 1rem;
}
.top-left-content {
  display: flex;
  width: 100%;
  height: 10%;
}
@media only screen and (max-width: 768px) {
  .top-left-content {
    display: flex;
    width: 100%;
    height: 8%;
  }
}

.list-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.mid-left-content {
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  height: 30%;
}
.hi-name {
  color: #ffffff;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
}
.headline {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 768px) {
  .mid-left-content {
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
    height: 25%;
  }
  .hi-name {
    color: #ffffff;
    font-size: 1.4rem;
    line-height: 2.25rem;
    font-weight: 600;
  }
  .headline {
    font-size: 0.6rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, 0.3);
  }
}
.search-box {
  position: relative;
  width: 100%;
}
.search-input {
  padding: 0.65rem;
  padding-left: 2.5rem;
  margin-top: 1.25rem;
  color: #ffffff;
  font-size: 0.875rem;
  width: 100%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
}
.search-input:focus {
  outline: none;
}
.search-icon {
  position: absolute;
  left: 0.75rem;
  top: 2rem;
}
@media only screen and (max-width: 768px) {
  .search-input {
    padding: 0.6rem;
    padding-left: 2rem;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.6rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .search-icon {
    left: 0.6rem;
    top: 1.5rem;
  }
}
.bottom-left-content {
  padding-left: 3rem;
  padding-right: 3rem;
  width: 100%;
  height: 60%;
}
.content-headline {
  display: flex;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  align-items: center;
  gap: 0.5rem;
  align-items: center;
}
.text-headline {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}
.second-text-headline {
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.8rem;
}
.content-menu {
  margin-top: 0.5rem;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#b-menu {
  margin-top: 0.5rem;
}
.menu-box {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-box-etc {
  display: flex;
  flex-direction: column;
}
.menu-button {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}
#menu-1 {
  background-image: linear-gradient(to top right, #f87171, #ec4899);
}
#menu-2 {
  background-image: linear-gradient(to top right, #10b981, #3b82f6);
}
#menu-3 {
  background-image: linear-gradient(to top right, #ec4899, #8b5cf6);
}
#menu-4 {
  background-image: linear-gradient(to top right, #8b5cf6, #3b82f6);
}
#menu-5 {
  background-image: linear-gradient(to top right, #f59e0b, #f87171);
}
#menu-6 {
  background-color: #6b7280;
}
.menu-title {
  font-size: 0.6rem;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 768px) {
  .menu-button {
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.75rem;
    font-weight: 700;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 0.75rem;
  }
  .menu-title {
    font-size: 0.5rem;
    line-height: 0.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .text-headline {
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  .second-text-headline {
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.6rem;
  }
}
.right-content-container {
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.content-right-top {
  display: flex;
  width: 100%;
  height: 20%;
}
.headline-right {
  width: 69.99999%;
}
.left {
  width: 30%;
}
.headline-box {
  display: flex;
  margin-top: 0.25rem;
  flex-direction: column;
}
.headline-big {
  color: #374151;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
}
.title-line {
  color: #9ca3af;
  font-size: 0.6rem;
  line-height: 0.8rem;
}
.profile {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.pp {
  display: flex;
  right: 1.5rem;
}
.pp-badge {
  background-color: #6b7280;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  border-width: 2px;
}
#badge-1 {
  z-index: 10;
  background-image: url(./asset/pp1.jpg);
  background-size: 100%;
}
#badge-2 {
  z-index: 20;
  background-image: url(./asset/pp2.jpg);
  background-size: 100%;
  margin-left: -0.75rem;
  margin-left: -0.875rem;
}
#badge-3 {
  z-index: 30;
  background-image: url(./asset/pp3.jpg);
  background-size: 100%;
  margin-left: -0.75rem;
  margin-left: -0.875rem;
}
.content-list {
  display: flex;
  /* background-color: #fcd34d; */
  width: 100%;
  height: 79.99999%;
  flex-direction: column;
}
.head-list {
  display: flex;
  padding-bottom: 1.25rem;
  justify-content: space-between;
  width: 100%;
}
.list-title {
  color: #374151;
  font-weight: 600;
}
.list {
  display: flex;
  margin-top: 0.25rem;
  flex-direction: column;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* The container */
.check {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 100%;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 6px;
  top: 4px;
  width: 8px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
